/* Section 8 */

#section8 {
    background:#1abc9c;
    color: #F1F1F1;
    padding-bottom: 0px;
}

#section8 h4.intro {
    border-bottom: 1px solid #F1F1F1;
    height: 35px;
    margin-bottom: 18px;
}

#section8 .content {
    position: relative;
}

#section8 .content .alt {
    margin-top: 20px;
}

#section8 .content .alt h4 {
    line-height: 24px;
    margin: 0;
    padding-right: 20px;
}

#section8 .content .alt h4, #section8 .content .alt span {
    display: inline-block;
}

#section8 .content .alt h5 {
    display: inline;
    line-height: 20px;
    margin: 0;
    padding-right: 10px;
}

#section8 .content .span4 {
    padding-right: 25px;
}

#section8 .btn-default {
    margin-top: 15px;
}

#section8 #footer {
    margin: 200px 0 40px;
}

#section8 #footer p {
    font-size: 14px; font-size: 1.4rem;
}

#section8 a, #section8 a:hover {
    color: #ffffff;
}

#section8 .footer {
    border-top: 1px solid #ffffff;
}