/* Section 1 */

#section1 {
    background:#7f8c8d;
    -webkit-background-size: 100% auto;
    -moz-background-size: 100% auto;
    -o-background-size: 100% auto;
    background-size: 100% auto;
    background-repeat: no-repeat;
}

#section1 .intro {
    margin: 130px 0;
}

#section1 .thumb {
    display: none;
}

#section1 .intro h1 {
    color: #F1F1F1;
    font-size: 85px; font-size: 8.5rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 85px;
    margin-left: -5px;
}

#section1 .intro h3 {
    color: #F1F1F1;
    font-size: 26px; font-size: 2.6rem;
    font-weight: 100;
    line-height: 28px;
    margin: 0;
    width: 80%;

}
