/* Section 4 */


#section4  h2 {
    margin-left: -4px;
}

#section4 .read-more a, #section4 .read-more a:hover, #section4 a, #section4 a:hover {
    color: #151515;
}

#section4 a, #section4 a:hover {
    color: #16a085;
}

#section4 .content .span5, #section4 .content .span6 {
    padding-right: 20px;
}

#section4 .content {
    min-height: 300px;
}

#section4 .content .span7 {
    display: none;
}

#section4 .content .span7.current {
    display: block;
}

#section4 ul.article-tags {
    border-top: 1px solid #151515;
    margin: 0px 0 0;
    padding-left: 0px;
}

#section4 ul.article-tags li {
    border-bottom: 1px solid #151515;
    cursor: pointer;
    display: block;
    font-size: 17px; font-size: 1.7rem;
    height: 36px;
    line-height: 36px;
    padding-left: 20px;
    position: relative;
}

#section4 ul.article-tags li:hover, #section4 ul.article-tags li.current {
    background-color: #1abc9c;
    color:#ecf0f1;
}

#section4 h4 {
    border-bottom: 1px solid #151515;
    height: 35px;
    margin-bottom: 18px;
}

#section4 .description img {
    margin-bottom: 20px;
}

.list-icon {
    width: 25px;
}