/* Section 3 */


#section3  h2 {
    margin-left: -4px;
}

#section3 .content .span5, #section3 .content .span6 {
    padding-right: 20px;
}

#section3 .content {
    min-height: 300px;
}

#section3 .content .slide {
    display: none;
}

#section3 .content .slide.current {
    display: block;
}

#section3 ul.article-tags {
    border-top: 1px solid #151515;
    margin: 0px 0 0;
    padding-left: 0px;
}

#section3 ul.article-tags li {
    border-bottom: 1px solid #151515;
    cursor: pointer;
    display: block;
    font-size: 17px; font-size: 1.7rem;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    padding-left: 20px;
    position: relative;
}

#section3 ul.article-tags li:hover, #section3 ul.article-tags li.current {
    background-color: #1abc9c;
    color:#ecf0f1;
}

#section3 ul.article-tags i {
    font-size: 16px; font-size: 1.6rem;
    position: absolute;
    top: 10px;
}

#section3 h4 {
    border-bottom: 1px solid #151515;
    height: 35px;
    margin-bottom: 18px;
}

#section3 ul.article-tags li::before {
    font-family: FontAwesome;
    content: "\f105  ";
}
