@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Regular.woff2") format("woff2"),
       url("../fonts/Inter-UI-Regular.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 400;
  src: url("../fonts/Inter-UI-Italic.woff2") format("woff2"),
       url("../fonts/Inter-UI-Italic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-Medium.woff2") format("woff2"),
       url("../fonts/Inter-UI-Medium.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 600;
  src: url("../fonts/Inter-UI-MediumItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-MediumItalic.woff") format("woff");
}

@font-face {
  font-family: 'Inter UI';
  font-style:  normal;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-Bold.woff2") format("woff2"),
       url("../fonts/Inter-UI-Bold.woff") format("woff");
}
@font-face {
  font-family: 'Inter UI';
  font-style:  italic;
  font-display: auto;
  font-weight: 800;
  src: url("../fonts/Inter-UI-BoldItalic.woff2") format("woff2"),
       url("../fonts/Inter-UI-BoldItalic.woff") format("woff");
}
@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Italic.eot');
  src: local('Titillium Web Italic'), local('TitilliumWeb-Italic'),
  url('../fonts/TitilliumWeb-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Italic.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-Italic.woff') format('woff'),
  url('../fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-ExtraLightItalic.eot');
  src: local('Titillium Web ExtraLight Italic'), local('TitilliumWeb-ExtraLightItalic'),
  url('../fonts/TitilliumWeb-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-ExtraLightItalic.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-ExtraLightItalic.woff') format('woff'),
  url('../fonts/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Black.eot');
  src: local('Titillium Web Black'), local('TitilliumWeb-Black'),
  url('../fonts/TitilliumWeb-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Black.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-Black.woff') format('woff'),
  url('../fonts/TitilliumWeb-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Bold.eot');
  src: local('Titillium Web Bold'), local('TitilliumWeb-Bold'),
  url('../fonts/TitilliumWeb-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Bold.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-Bold.woff') format('woff'),
  url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-ExtraLight.eot');
  src: local('Titillium Web ExtraLight'), local('TitilliumWeb-ExtraLight'),
  url('../fonts/TitilliumWeb-ExtraLight.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-ExtraLight.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-ExtraLight.woff') format('woff'),
  url('../fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBoldItalic.eot');
  src: local('Titillium Web SemiBold Italic'), local('TitilliumWeb-SemiBoldItalic'),
  url('../fonts/TitilliumWeb-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-SemiBoldItalic.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-LightItalic.eot');
  src: local('Titillium Web Light Italic'), local('TitilliumWeb-LightItalic'),
  url('../fonts/TitilliumWeb-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-LightItalic.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-LightItalic.woff') format('woff'),
  url('../fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Light.eot');
  src: local('Titillium Web Light'), local('TitilliumWeb-Light'),
  url('../fonts/TitilliumWeb-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Light.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-Light.woff') format('woff'),
  url('../fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-Regular.eot');
  src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'),
  url('../fonts/TitilliumWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-Regular.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-Regular.woff') format('woff'),
  url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-SemiBold.eot');
  src: local('Titillium Web SemiBold'), local('TitilliumWeb-SemiBold'),
  url('../fonts/TitilliumWeb-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-SemiBold.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-SemiBold.woff') format('woff'),
  url('../fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Titillium Web';
  src: url('../fonts/TitilliumWeb-BoldItalic.eot');
  src: local('Titillium Web Bold Italic'), local('TitilliumWeb-BoldItalic'),
  url('../fonts/TitilliumWeb-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/TitilliumWeb-BoldItalic.woff2') format('woff2'),
  url('../fonts/TitilliumWeb-BoldItalic.woff') format('woff'),
  url('../fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

