<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- SEO -->
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description" content="{{ if .IsHome }}{{ site.Params.Description }}{{ else }}{{ printf "%s | %s" .Description site.Title }}{{ end }}">
<link rel="canonical" href="https://rlemaitre.com/">

<!-- The favicon -->
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="rlemaitre.com" />
<link rel="manifest" href="/site.webmanifest" />
<meta name="theme-color" content="#2e3440">
<link rel="alternate" type="application/rss+xml" title="Blog by Raphaël Lemaitre" href="/blog/index.xml/"/>
{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}
