<nav class="menu">
    <ul class="menu__inner">
        {{- $currentPage := . -}}
        {{ range .Site.Menus.main -}}
            <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
        {{- end }}

        {{ if .Site.IsMultiLingual }}
        {{ range .Site.Languages }}
        {{ if eq . $.Site.Language }}
<!--        <li><a href="#" class="active language"><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }}"></span></a></li>-->
        {{ else }}
        {{ range $.Translations }}
        <li><a href="{{ .Permalink }}" class=""><span class="flag flag-icon flag-icon-{{ index $.Site.Data.langFlags (.Lang) }}"></span></a></li>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
    </ul>
</nav>
